* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.hide {
  display: none;
}

.active {
  display: inline-block;
  border: 1px solid black;
}

.img-wrapper {
  width: 75%;
  margin: 0 auto;
}

.thumbnails {
  width: 75%;
  height: 150px;
  margin: 0 auto;
}

.thumbnails img {
  width: 20%;
  height: 100%;
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.prev {
  margin-right: 15px;
}