<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src=https://unpkg.com/vue@3></script>
  <script src="js/app.js" defer></script>
  <link rel="stylesheet" href="css/styles.css">
  <title>Document</title>
</head>
<body>
  

  <div id="app">

        <div class="img-wrapper">
          <img 
          :src="image.image" 
          alt="" 
          v-for="(image, index) in allImages"
          class="hide"
          :class="{'active': index === currentImage}"
          >

        </div>

        <div class="thumbnails">
          <img 
          :src="image.image" 
          alt="" 
          v-for="(image, index) in allImages"
          @click=" currentImage = index"
          :class="{'active': index === currentImage}"
          >
        </div>

      <div class="btn-container">
        <button class="prev" @click="nextPrev(false)">Previous Photo</button>
        <button class="next" @click="nextPrev(true)">Next Photo</button>
      </div>

  </div>

  




</body>
</html>